<app-breadcrumbs></app-breadcrumbs>
<!-- Page Content-->
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- List of items-->
        <section class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-2 pb-sm-5 mt-1">
                <h2 class="h6 text-light mb-0">Products</h2><a class="btn btn-outline-primary btn-sm pl-2"  routerLink="/"><i class="icon-arrow-left icons mr-2"></i>Continue shopping</a>
            </div>
            <!-- Item-->
            <div *ngFor="let cart of cartItems; let i = index" class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
                <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
                    <a class="d-inline-block mx-auto mr-sm-4" href="#" style="width: 10rem;"><img src="{{cart.photo}}" alt="Product"></a>
                    <div class="media-body pt-2">
                        <h3 class="product-title font-size-base mb-2"><a href="#">{{cart.productName}}</a></h3>
                        <div class="font-size-sm"><span class="text-muted mr-2">Category:</span>{{cart.categoryName}}</div>
                        <div class="font-size-sm"><span class="text-muted mr-2">Brand:</span>{{cart.brandName}}</div>
                        <div class="font-size-lg text-accent pt-2">${{cart.price}}.<small>00</small></div>
                    </div>
                </div>
                <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
                    <div class="form-group mb-0">
                        <label class="font-weight-medium" for="quantity1">Quantity</label>
                        <input class="form-control" type="number" (keyup)="quantityChanged($event.target.value)" (change)="quantityChanged($event.target.value, i)" id="quantity1" [value]="cart.quantity">
                    </div>
                    <button class="btn btn-link px-0 text-danger" (click)="deleteItem(cart.productId)" type="button"><i class="icon-trash icons mr-2"></i><span class="font-size-sm">Remove</span></button>
                </div>
            </div>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
            <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
                <div *ngIf="!showSummary">
                    <div class="text-center mb-4 pb-3 border-bottom">
                        <h2 class="h6 mb-3 pb-1" (click)="showSuccess()">Subtotal</h2>
                        <h3 class="font-weight-normal">${{ returnTotal() }}.<small>00</small></h3>
                    </div>
                    <div class="form-group mb-4">
                        <label class="mb-3" for="order-comments">
                            <span class="badge badge-info font-size-xs mr-2">Note</span>
                            <span class="font-weight-medium">Additional comments</span>
                        </label>
                        <textarea [(ngModel)]="orderInformation.comment" class="form-control" rows="6" id="order-comments"></textarea>
                    </div>
                    <a class="btn btn-primary btn-shadow btn-block mt-4" (click)="showSummary=true"><i class="icon-wallet icons font-size-lg mr-2"></i>Proceed to Checkout</a>
                </div>
                <div *ngIf="showSummary">
                    <div class="text-center mb-4 pb-3 border-bottom">
                        <h2 class="h6 mb-3 pb-1">Order summary</h2>
                    </div>
                    <ul class="list-unstyled font-size-sm pb-2 border-bottom">
                      <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Subtotal:</span><span class="text-right">${{ returnTotal() }}.<small>00</small></span></li>
                      <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Shipping:</span><span class="text-right">—</span></li>
                      <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Discount:</span><span class="text-right">—</span></li>
                    </ul>
                    <h3 class="font-weight-normal text-center my-4">${{ returnTotal() }}.<small>00</small></h3>
                    <form class="needs-validation" method="post" novalidate>
                        <div class="form-group">
                          <input [(ngModel)]="orderInformation.address" name="address" class="form-control" type="text" placeholder="Delivery Address" required>
                          <div class="invalid-feedback" *ngIf="submitted && !orderInformation.address">Please provide delivery address.</div>
                        </div>
                        <div class="form-group">
                          <input [(ngModel)]="orderInformation.phone" name="phone" class="form-control" type="text" placeholder="Contact Number" required>
                          <div class="invalid-feedback" *ngIf="submitted && !orderInformation.phone">Please provide phone.</div>
                        </div>
                        <div class="form-group">
                          <input [(ngModel)]="orderInformation.email" name="email" class="form-control" type="text" placeholder="Contact Email" required>
                          <div class="invalid-feedback" *ngIf="submitted && !orderInformation.email">Please provide email.</div>
                        </div>
                    </form>
                    <!-- <div class="form-group mb-4">
                        <label class="mb-3" for="order-comments">
                            <span class="font-weight-medium">Delivery Information</span>
                        </label>
                        <textarea [(ngModel)]="orderInformation.comment" class="form-control" rows="6" id="order-comments"></textarea>
                    </div> -->
                    <a class="btn btn-primary btn-shadow btn-block mt-4" (click)="submitOrder()"><i class="icon-wallet icons font-size-lg mr-2"></i>Finish Order</a>
                </div>
            </div>
        </aside>
    </div>
</div>