<app-breadcrumbs></app-breadcrumbs>
<!-- Page Content-->
<div class="container" *ngIf="product">
    <!-- Gallery + details-->
    <div class="bg-light box-shadow-lg rounded-lg px-4 py-3 mb-5">
        <div class="px-lg-3">
        <div class="row">
            <!-- Product gallery-->
            <div class="col-lg-7 pr-lg-0 pt-lg-4">
                <div class="cz-product-gallery">
                    <div class="cz-preview order-sm-2">
                        <div class="cz-preview-item active" id="first">
                            <img *ngIf="product" class="cz-image-zoom" src="{{product.photo}}" alt="Product image">
                            <div class="cz-image-zoom-pane"></div>
                        </div>
                    </div>
                    <div class="cz-thumblist order-sm-1">
                        <a class="cz-thumblist-item" [class.active]="currentDisplayedPhotoIndex == 0" (click)="selectPhoto(0)"  *ngIf="product.photos[0]">
                            <img src="{{product.photos[0].url}}" alt="Product thumb">
                        </a>
                        <a class="cz-thumblist-item" [class.active]="currentDisplayedPhotoIndex == 1" (click)="selectPhoto(1)"  *ngIf="product.photos[1]">
                            <img src="{{product.photos[1].url}}" alt="Product thumb">
                        </a>
                        <a class="cz-thumblist-item" [class.active]="currentDisplayedPhotoIndex == 2" (click)="selectPhoto(2)"  *ngIf="product.photos[2]">
                            <img src="{{product.photos[2].url}}" alt="Product thumb">
                        </a>
                        <a class="cz-thumblist-item" [class.active]="currentDisplayedPhotoIndex == 3" (click)="selectPhoto(3)" *ngIf="product.photos[3]">
                            <img src="{{product.photos[3].url}}" alt="Product thumb">
                        </a>
                    </div>
                </div>
            </div>
            <!-- Product details-->
            <div class="col-lg-5 pt-4 pt-lg-0">
                <div class="product-details ml-auto pb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2" *ngIf="ratings">
                        <a href="#reviews" data-scroll>
                            <div class="star-rating mr-2">
                                <ngb-rating [rate]="product.rating">
                                    <ng-template let-fill="fill">
                                      <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                            <span class="d-inline-block font-size-sm text-body align-middle mt-1 ml-1">{{ratings.length}} Reviews</span>
                        </a>
                        <button class="btn-wishlist btn-sm" [class.active-icon]="wishlistService.isProductInWishlist(product.id)" type="button" data-toggle="tooltip" data-placement="left" (click)="addToWishlist(product)" title="Add to wishlist">
                          <i class="icon-heart icons"></i>
                        </button>
                        <!-- <button class="btn-wishlist mr-0 mr-lg-n3" type="button" data-toggle="tooltip" title="Add to wishlist"><i class="czi-heart"></i></button> -->
                    </div>
                    <div class="mb-3">
                        <span class="h3 font-weight-normal text-accent mr-1">${{product.price}}.<small>99</small></span>
                        <del class="text-muted font-size-lg mr-3">${{product.price + (product.price/0.8)}}.<small>00</small></del><span class="badge badge-danger badge-shadow align-middle mt-n2">Sale</span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <select [(ngModel)]="cartQuantity" value="1" class="custom-select mr-3" style="width: 5rem;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button (click)="addToCart(product)" class="btn btn-primary btn-shadow btn-block" type="submit">
                            <i class="icon-basket-loaded font-size-lg mr-2"></i>Add to Cart</button>
                    </div>
                    <!-- Sharing-->
                    <h6 class="d-inline-block align-middle font-size-base my-2 mr-2">Share:</h6>
                    <a class="share-btn sb-twitter mr-2 my-2" href="#"><i class="icon-social-twitter"></i>Twitter</a>
                    <a class="share-btn sb-instagram mr-2 my-2" href="#"><i class="icon-social-instagram"></i>Instagram</a>
                    <a class="share-btn sb-facebook my-2" href="#"><i class="icon-social-facebook"></i>Facebook</a>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Product description section 1-->
    <div class="row align-items-center py-md-3">
        <div class="col-lg-5 col-md-6 offset-lg-1 order-md-2">
            <img  *ngIf="product.photos[1]" class="d-block rounded-lg" src="{{product.photos[1].url}}" alt="Image">
        </div>
        <div class="col-lg-4 col-md-6 offset-lg-1 py-4 order-md-1">
            <h2 class="h3 mb-4 pb-2">{{product.name}} Description</h2>
            <!-- <h6 class="font-size-base mb-3">Soft cotton blend</h6> -->
            <p class="font-size-sm text-muted pb-2">
                {{product.name}}
            </p>
        </div>
    </div>
</div>
<!-- Reviews-->
<div class="border-top border-bottom my-lg-3 py-5">
<div class="container pt-md-2" id="reviews">
    <div class="row pb-3" *ngIf="ratings">
        <div class="col-lg-4 col-md-5">
            <h2 class="h3 mb-4">{{ratings.length}} Reviews</h2>
        </div>
        <div class="col-lg-8 col-md-7" *ngIf="product">
            <div class="star-rating mr-2">
                <ngb-rating [rate]="product.rating">
                    <ng-template let-fill="fill">
                      <span class="star" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                </ngb-rating>
            </div>
            <span class="d-inline-block align-middle">
                {{product.rating}} Overall rating
            </span>
        </div>
    </div>
    <hr class="mt-4 pb-4 mb-3">
    <div class="row">
    <div class="col-md-7">
        <div class="d-flex justify-content-end pb-4">
        <div class="form-inline flex-nowrap">
            <label class="text-muted text-nowrap mr-2 d-none d-sm-block" for="sort-reviews">Sort by:</label>
            <select class="custom-select custom-select-sm" id="sort-reviews">
            <option>Newest</option>
            <option>Oldest</option>
            <option>Popular</option>
            <option>High rating</option>
            <option>Low rating</option>
            </select>
        </div>
        </div>
        <div class="product-review pb-4 mb-4 border-bottom" *ngFor="let rating of ratings">
            <div class="d-flex mb-3">
                <div class="media media-ie-fix align-items-center mr-4 pr-2">
                    <img class="rounded-circle" width="50" src="https://cartzilla.createx.studio/img/shop/reviews/01.jpg" alt="Rafael Marquez"/>
                    <div class="media-body pl-3">
                        <h6 class="font-size-sm mb-0">{{rating.name}}</h6><span class="font-size-ms text-muted">{{rating.created_at | date}}</span>
                    </div>
                </div>
                <div>
                    <div class="star-rating">
                        <ngb-rating [rate]="rating.rating">
                            <ng-template let-fill="fill">
                              <span class="star color{{rating}}" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                    </div>
                </div>
            </div>
            <p class="font-size-md mb-2">{{rating.review}}</p>
          
        </div>
    </div>
    <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
        <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-lg">
        <h3 class="h4 pb-2">Write a review</h3>
        <form [formGroup]="productReviewForm" (ngSubmit)="onReviewSubmit()" class="needs-validation" method="post" novalidate>
            <div class="form-group">
                <label for="review-name">Your name<span class="text-danger">*</span></label>
                <input formControlName="name" class="form-control" type="text" required id="review-name">
                <div class="invalid-feedback">Please enter your name!</div><small class="form-text text-muted">Will be displayed on the comment.</small>
            </div>
            <div class="form-group">
                <label for="review-email">Your email<span class="text-danger">*</span></label>
                <input formControlName="email" class="form-control" type="email" required id="review-email">
                <div class="invalid-feedback">Please provide valid email address!</div>
                <small class="form-text text-muted">Authentication only - we won't spam you.</small>
            </div>
            <div class="form-group">
                <label for="review-rating">Rating<span class="text-danger">*</span></label>
                <select formControlName="rating" class="custom-select" required id="review-rating">
                    <option value="">Choose rating</option>
                    <option value="5">5 stars</option>
                    <option value="4">4 stars</option>
                    <option value="3">3 stars</option>
                    <option value="2">2 stars</option>
                    <option value="1">1 star</option>
                </select>
                <div class="invalid-feedback">Please choose rating!</div>
            </div>
            <div class="form-group">
                <label for="review-text">Review<span class="text-danger">*</span></label>
                <textarea formControlName="review" class="form-control" rows="6" required id="review-text"></textarea>
                <div class="invalid-feedback">Please write a review!</div><small class="form-text text-muted">Your review must be at least 50 characters.</small>
            </div>
            <button class="btn btn-primary btn-shadow btn-block" type="submit">Submit a Review</button>
        </form>
        </div>
    </div>
    </div>
</div>
</div>
