<div class="media align-items-center pb-2 border-bottom" *ngIf="product">
    <a class="d-block mr-2" href="shop-single-v2.html">
        <img width="64"  src="../../../../assets/img/shop/catalog/{{product.photos[0]}}" alt="Product">
    </a>
    <div class="media-body">
    <h6 class="widget-product-title"><a href="shop-single-v2.html">{{product.name}}</a></h6>
    <div class="widget-product-meta">
        <span class="text-accent">${{product.price}}<small>00</small></span></div>
    </div>
</div>