<div class="widget widget-cart px-3 pt-2 pb-3">
    <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
        <div class="widget-cart-item pb-2 border-bottom"  *ngFor="let cart of cartItems">
            <button class="close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
            <div class="media align-items-center">
                <a class="d-block mr-2" href="shop-single-v2.html">
                    <img width="64" src="../../../../assets/img/shop/catalog/{{cart.photo}}" alt="Product"/>
                </a>
                <div class="media-body">
                    <h6 class="widget-product-title"><a href="shop-single-v2.html">{{cart.productName}}</a></h6>
                    <div class="widget-product-meta">
                        <span class="text-accent mr-2">${{cart.price}}.<small>00</small></span><span class="text-muted">x {{cart.quantity}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
        <div class="font-size-sm mr-2 py-2">
            <span class="text-muted">Subtotal:</span>
            <span class="text-accent font-size-base ml-1">${{ returnTotal() }}.<small>00</small></span>
        </div>
        <a class="btn btn-outline-secondary btn-sm" href="shop-cart.html">
            Expand cart<i class="czi-arrow-right ml-1 mr-n1"></i>
        </a>
    </div>
    <a class="btn btn-primary btn-sm btn-block" href="checkout-details.html"><i class="czi-card mr-2 font-size-base align-middle"></i>Checkout</a>
  </div>